@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121212; /* A slightly darker background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #121212;
  color: white;
}

/* Remove default button styling to allow Bootstrap to take over */
button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

/* General link styling */
a {
  text-decoration: none;
}
